@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #302C23;
  --foreground: #FEFEFE;

  --page     : #3BBAF9;
  --video-off: #0a0a0a;

  --c0: #302C23;
  --c1: #3d4040;
  --c2: #5A7175;
  --c3: #BF0603;
  --c4: #3BBAF9;
  --c5: #C4EFF7;
  --c6: #FEFEFE;
  --c7: #FFC822;
  --c8: #EAFF00;
  --c9: #F4D58D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #302C23;
    --foreground: #FEFEFE;
  }
}

body {
  color      : var(--foreground);
  background : var(--background);
  font-family: Arial, Helvetica, sans-serif;
}